.gheader {
    margin-top: 190px;
    margin-bottom: 30px;
    width: 360px;
    height: 60px;
    padding: 10px;
    background-color: #d9d9d9;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .gheader h2 {
    margin: 0;
    font-size: 18px;
    color: #333;
  }
  
  .gheadericon {
    cursor: pointer;
    position: absolute;
    right: 5%;
    top: 30%;
  }
  
  /* 메뉴 스타일 */
  .menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    color: black;
    z-index: 1000;
    animation: slideIn 0.3s ease-in-out;
  }
  
  @keyframes slideIn {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  .menu ul {
    list-style: none;
  }
  
  .menu li {
    margin-bottom: 20px;
    font-size: 1rem;
    cursor: pointer;
    text-align: left;
  }
  
  .logout {
    color: red;
  }
  
  .logout-icon {
    margin-right: 5px;
  }
  